body {
  margin: 0;
  background: linear-gradient(
    to right,
    black 0%,
    black 10%,
    #360E80 15%,
   #360E80 85%,
    black 90%,
    black 100%
  );
}

.bar{
  display: flex;
  gap : 50px;
  align-items: center;
  margin: 0;
  background: linear-gradient(
    to bottom,
    #360E80 0%,
   #360E80 35%,
   black 100%
  );
}

.btn {  
  display:flex;
  width: 150px;
  height: 50px;
  border-radius: 35px;
  border: none;
  background-color: #B05EE6;
  color : #261B33;
  cursor: pointer;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.bar_space{
  margin-left: 50%;
  display:flex;
  gap: 40px;
}


.btn:hover{
  background-color: #4D02B0;
}


.container{
 padding: 30px  15% 15%;
    font-family: arial;
  color:#B05EE6;
}


.titre{
  font-size:150%;
  display:grid;
  margin-bottom:70px;
}

.titre img{
  display:block;
}

.titre h1{
  margin:0;
}

.titre,td{
text-align: center;
  
}
a{
  color:#B05EE6;
}






