

body {
  margin: 0;
  background: linear-gradient(
    to right,
    #4facfe 0px,
    #4facfe 250px,
    white 250px,
    white 1615px,
    #4facfe 1615px,
    #4facfe 2250px
  );
}


.bar{
  border-bottom : solid #C4C4C4;
  margin: 0;
  background: linear-gradient(
    to bottom,
    black 0%,
    black 40%,
    black 40%,
    black 100%
  );
}



.container{
  padding: 30px 10px 500px;
}


.titre{
  font-size:150%;
  display:grid;
  margin-bottom:70px;
}

.titre img{
  display:block;
}

.titre h1{
  margin:0;
}

.titre,td{
text-align: center;
  
}

