th,td,h1,h2{
  text-align: center;
}

th,td,h1,h2,p,table,ol,tr{
  color: whit
}

body{
  background-image: url("med2.gif");
  background-size: cover;
  background-color:;
  height: 50px;
}


