body {
  margin: 0;
  background: linear-gradient(
    to right,
    black 0%,
    black 10%,
    #360E80 15%,
   #360E80 85%,
    black 90%,
    black 100%
  );
}

.bar{
  position:fixed;
  width: 100%;
  height: 100px;
  display: flex;
  gap : 50px;
  align-items: center;
  margin: 0;
  transition: all 0.3s ease;
  background: linear-gradient(
    to bottom,
    #360E80 0%,
   #360E80 35%,
   black 100%
  );
}

.btn {  
  width: 150px;
  height: 50px;
  border-radius: 35px;
  border: none;
  background-color: #B05EE6;
  color : #261B33;
  cursor: pointer;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.bar_space{
  margin-left: 60%;
  display:flex;
  gap: 40px;
}


.btn:hover{
  background-color: #4D02B0;
}


.container{
 padding: 222px  15% 15%;
    font-family: arial;
  color:#B05EE6;
}


.titre{
  font-size:150%;
  display:grid;
  margin-bottom:70px;
}

.titre img{
  display:block;
}

.titre h1{
  margin:0;
}

.titre,td{
text-align: center;
  
}

a{
  color:#B05EE6;
}


table{
   border-collapse: collapse;
    color:#B05EE6;
}


.bar.small:hover{
  height: 100px;
  width:100%;
}



.bar.small {
  height: 50px;
}


.logo {
  height: 80px;
  transition: transform 0.3s ease;
  transform-origin: left center;
}


.bar.small .logo {
  transform: scale(0.6);
}


.bar.small:hover .logo {
  transform: scale(1);
}


.btn {
  width: 150px;
  height: 50px;
  font-size: 16px;
  transition: all 0.3s ease;
}


.bar.small {
  height: 50px;
}


.bar.small .btn {
  width: 100px;
  height: 35px;
  font-size: 14px;
}


.bar.small:hover {
  height: 100px;
}

.bar.small:hover .logo {
  height: 80px;
}

.bar.small:hover .btn {
  width: 150px;
  height: 50px;
  font-size: 16px;
}










